/* Barra de navegación y otros estilos */
html, body {
  margin: 0; /* Elimina márgenes por defecto */
  padding: 0; /* Elimina relleno por defecto */
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal; /* Esto asegura que no esté en cursiva */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegúrate de que el cuerpo tenga al menos el 100% de la altura de la ventana */
}

.navbar {
  background-color: #fff;
  
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid #ddd;
  width: 98%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}


.dropdown-menu {
  display: none;
  background-color: #fff;
  position: fixed;
  top: 5rem;
  right: 1.25rem;
  width: 12.5rem;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3125rem;
  z-index: 1000;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu ul li {
  padding: 0.9375rem 1.25rem;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu ul li:last-child {
  border-bottom: none;
}

.dropdown-menu ul li a {
  text-decoration: none;
  color: #59009A;
}

.dropdown-menu ul li:hover {
  background-color: #f0f0f0;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: #59009A;
}

.nav-items {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 4.0625rem;
  height: 3.75rem;
  margin: 0rem 1.5625rem 0rem 0.625rem;
}

.logo span {
  font-family: 'Roboto', sans-serif;
  color: #59009A;
  font-style: normal;
  font-size: 1.7rem;
  font-weight: bold;
}

.navbar span {
  color: #59009A;
  margin-right: 1.25rem;
}

.servicios {
  position: relative;
  margin-left: auto;
  font-size: 1.0625rem;
  text-align: center;
  cursor: pointer;
}

.submenu {
  position: absolute;
  background-color: #fff;
  padding: 0.625rem 0;
  border-radius: 0.3125rem;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
  display: none;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.servicios:hover .submenu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu li {
  padding: 0.9375rem 1.875rem;
  border-bottom: 0.0625rem solid #ddd;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.submenu li:hover {
  background-color: #f0f0f0;
}

.user-info {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1.0625rem;
}

.imagen-usuario {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.body {
  padding: 5rem 1.25rem 1.25rem 1.25rem;
  flex: 1;
}

/* Agregar estilos para el footer */
.footer-container {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0; /* Asegúrate de que no haya margen que cause espacios en blanco */
}

.contact-item {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  text-align: center;
  max-width: 500px;
}

.contact-item span {
  margin-bottom: 5px;
}

.iconos {
  display: flex;
  justify-content: center;
}

.iconos a {
  margin: 0 10px;
}

.iconos img {
  width: 24px;
  height: 24px;
}

.quienes-somos {
  align-self: center;
  color: #ffffff;
  text-decoration: none;
  margin-left: auto;
}

footer {
  background-color: #59009A;
  color: #ffffff;
  padding: 1em;
  text-align: center;
  margin-top: auto; /* Esto asegura que el footer esté al final */
  position: relative; /* Para que no haya problemas con el posicionamiento */
}

main {
  padding: 1.25rem;
  margin-top: 1.5rem;
}

.comments-section {
  display: flex;
  flex-wrap: wrap;
  gap: 3.125rem;
  max-width: 75rem;
  margin: 0 auto;
}

.comment-card {
  flex: 1 1 calc(33.333% - 2.5rem);
  max-width: calc(33.333% - 2.5rem);
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.comment-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.comment {
  display: flex;
  align-items: center;
  padding: 1.25rem;
  border: none;
}

.comment img {
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 50%;
  margin-right: 1.25rem;
}

.comment-info {
  flex-grow: 1;
}

.comment-info h3 {
  margin: 0;
  font-size: 1.125rem;
  color: #6200ea;
}

.comment-info .stars {
  margin: 0.3125rem 0;
  font-size: 1.125rem;
  color: #f39c12;
}

.comment-info .comment-text {
  display: none;
  margin: 0.3125rem 0 0 0;
  font-size: 1rem;
  color: #333;
}

.comment-card:hover .comment-info .comment-text {
  display: block;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .logo span {
    font-size: 1.5rem;
  }

  .submenu ul li {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 768px) {
  .servicios, .user-info {
    display: none;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    margin-left: auto; /* Ajusta este valor para moverlo más a la izquierda */
    margin-right: 10px; /* Ajusta este valor negativo para moverlo a la izquierda */
    font-size: 2rem;
    color: #59009A;
  }

  .menu-open .dropdown-menu {
    display: block;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-links,
  .contactanos,
  .canales-atencion,
  .social-media {
    margin-bottom: 10px;
  }

  .imagenes-container {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 5px;
  }

  .logo span {
    font-size: 1.2rem;
  }

  .user-info {
    font-size: 14px;
  }

  .servicios {
    font-size: 14px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .grid-item {
    width: 100%;
    height: auto;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  /* Ocultar texto en el footer */
  .footer-container span {
    display: none; /* Oculta el texto */
  }
  
  /* Asegurarte de que los iconos se muestren */
  .iconos {
    display: flex;
    justify-content: center; /* Centra los iconos */
  }

  .iconos a {
    margin: 0 10px; /* Ajusta el margen entre iconos */
  }
}





/* contenido body */

body::before,
body::after {
  content: '';
  position: absolute;
  background-color: #59009A;
  border-radius: 50%;
  filter: blur(6.25rem); /* 100px */
  opacity: 0.7;
}

body::before {
  width: 18.75rem; /* 300px */
  height: 18.75rem; /* 300px */
  top: 20%;
  left: 15%;
  animation: move 10s infinite alternate;
}

body::after {
  width: 12.5rem; /* 200px */
  height: 12.5rem; /* 200px */
  bottom: 20%;
  right: 15%;
  animation: move 8s infinite alternate-reverse;
}

@keyframes move {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(3.125rem, 3.125rem) scale(1);
  }
}

.container {
  position: relative;
  z-index: 1;
}

main {
  position: relative;
  z-index: 1;
}

.footer {
  position: relative;
  z-index: 1;
}

.body {
  padding: 1.25rem; /* 20px */
}

.text h1 {
  margin: 0;
  color: #59009A;
}

.text p {
  margin: 0;
  color: #999;
}

main {
  padding: 8.75rem; /* 140px */
  background-color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.125rem; /* 50px */
}

.grid-item {
  color: #59009A;
  width: 18.75rem; /* 300px */
  height: 12.5rem; /* 200px */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem; /* 8px */
  position: relative;
  border: 0.125rem solid #59009A; /* 2px */
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.grid-item::before {
  content: '';
  position: absolute;
  top: -1.25rem; /* -20px */
  left: -1.25rem; /* -20px */
  width: 6.25rem; /* 100px */
  height: 6.25rem; /* 100px */
  background-color: #59009A;
  border-radius: 50%;
  z-index: -1;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover::before {
  transform: scale(1.5);
}

.grid-item:hover {
  transform: scale(1.1);
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

.grid-item.archivos {
  background-image: url('../Imagenes/WhatsApp.png');
}

.grid-item.informes {
  background-image: url('Informes.png');
}

.grid-item.resenas {
  background-image: url('Reseñas.png');
}

.grid-item.historial {
  background-image: url('Historial.png');
}

.grid-item.proximamente1 {
  background-image: url('Proximamente.png');
}

.grid-item.proximamente2 {
  background-image: url('Proximamente.png');
}

/* Estilos básicos para la animación de fondo */
.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.ball {
  position: absolute;
  width: 3.125rem; /* 50px */
  height: 3.125rem; /* 50px */
  border-radius: 50%;
  background: #6200ea;
  box-shadow: 0 0 1.25rem
}
  .ball1 {
    animation: moveWorm1 20s linear infinite;
  }
  
  .ball2 {
    animation: moveWorm2 15s linear infinite;
  }
  
  @keyframes moveWorm1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(30vw, 20vh);
    }
    50% {
        transform: translate(60vw, 40vh);
    }
    75% {
        transform: translate(30vw, 60vh);
    }
    100% {
        transform: translate(0, 80vh);
    }
  } 
  
  @keyframes moveWorm2 {
    0% {
        transform: translate(100vw, 0);
    }
    25% {
        transform: translate(70vw, 20vh);
    }
    50% {
        transform: translate(40vw, 40vh);
    }
    75% {
        transform: translate(70vw, 60vh);
    }
    100% {
        transform: translate(100vw, 80vh);
    }
  }

  
 /* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  body {
      padding: 0.625rem; /* 10px */
  }

  main {
      padding: 4.375rem; /* 70px */
  }

  .grid {
      grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
      gap: 2rem; /* Reduce el espacio entre los elementos */
  }

  .grid-item {
      width: 100%; /* Ocupa todo el ancho disponible */
      height: auto; /* Ajusta la altura automáticamente */
      font-size: 1.1em; /* Reduce un poco el tamaño de la fuente */
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
      padding: 1.25rem; /* 20px */
  }

  main {
      padding: 6.25rem; /* 100px */
  }

  .grid {
      grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
  }

  .grid-item {
      height: auto; /* Ajusta la altura automáticamente */
      font-size: 1.15em; /* Un poco más grande que en pantallas pequeñas */
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {
  main {
      padding: 8.75rem; /* 140px */
  }

  .grid {
      grid-template-columns: repeat(3, 1fr); /* Tres columnas en pantallas grandes */
  }

  .grid-item {
      height: 12.5rem; /* 200px */
  }
} 