/* Barra de navegacion y footer */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.navbar {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid #ddd; /* 1px */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 4.0625rem; /* 65px */
  height: 3.75rem; /* 60px */
  margin: 0 1.5625rem 0 0.625rem; /* 0px 25px 0px 10px */
}

.logo span {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #59009A;
  font-style: italic;
  font-size: 2rem; /* 32px */
  font-weight: bold;
}

.navbar span {
  color: #59009A;
  margin-right: 1.25rem; /* 20px */
}

.servicios {
  position: relative;
  margin-left: auto;
  font-size: 1.0625rem; /* 17px */
  text-align: center;
  cursor: pointer;
}

.submenu {
  position: absolute;
  background-color: #fff;
  padding: 0.625rem 0; /* 10px 0 */
  border-radius: 0.3125rem; /* 5px */
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2); /* 0 5px 15px */
  display: none;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.servicios:hover .submenu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu li {
  padding: 0.9375rem 1.875rem; /* 15px 30px */
  border-bottom: 0.0625rem solid #ddd; /* 1px */
  font-size: 1rem; /* 16px */
  transition: background-color 0.3s ease;
}

.submenu li:hover {
  background-color: #f0f0f0;
}

.user-info {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1.0625rem; /* 17px */
}

.imagen-usuario {
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
  border-radius: 50%;
}

.body {
  padding: 5rem 1.25rem 1.25rem 1.25rem; /* 80px 20px 20px 20px */
  flex: 1;
}

.footer {
  background-color: #59009A;
  color: #fff;
  padding: 0.625rem 1.25rem; /* 10px 20px */
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: auto;
}

.footer-links {
  display: flex;
  align-items: center;
}

.contactanos,
.canales-atencion,
.social-media {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 0; /* Espacio entre las secciones */
  margin-left: 0; /* Ajuste para acercar a la izquierda */
}

.contactanos span,
.canales-atencion span,
.social-media span {
  margin-right: 0.625rem; /* 10px */
  margin-bottom: 0.625rem; /* 10px */
}

.imagenes-container {
  display: flex;
  align-items: center;
}

.imagen-footer {
  margin-right: 0.625rem; /* 10px */
  width: 1.75rem; /* 28px */
}

.texto-footer {
  text-align: right;
  align-items: center;
  transform: translate(0%, 1.875rem); /* 30% */
}

/* contenido body */

body::before,
body::after {
  content: '';
  position: absolute;
  background-color: #59009A;
  border-radius: 50%;
  filter: blur(6.25rem); /* 100px */
  opacity: 0.7;
}

body::before {
  width: 18.75rem; /* 300px */
  height: 18.75rem; /* 300px */
  top: 20%;
  left: 15%;
  animation: move 10s infinite alternate;
}

body::after {
  width: 12.5rem; /* 200px */
  height: 12.5rem; /* 200px */
  bottom: 20%;
  right: 15%;
  animation: move 8s infinite alternate-reverse;
}

@keyframes move {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(3.125rem, 3.125rem) scale(1);
  }
}

.container {
  position: relative;
  z-index: 1;
}

main {
  position: relative;
  z-index: 1;
}

.footer {
  position: relative;
  z-index: 1;
}

.body {
  padding: 1.25rem; /* 20px */
}

.text h1 {
  margin: 0;
  color: #59009A;
}

.text p {
  margin: 0;
  color: #999;
}

main {
  padding: 8.75rem; /* 140px */
  background-color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.125rem; /* 50px */
}

.grid-item {
  color: #59009A;
  width: 18.75rem; /* 300px */
  height: 12.5rem; /* 200px */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem; /* 8px */
  position: relative;
  border: 0.125rem solid #59009A; /* 2px */
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.grid-item::before {
  content: '';
  position: absolute;
  top: -1.25rem; /* -20px */
  left: -1.25rem; /* -20px */
  width: 6.25rem; /* 100px */
  height: 6.25rem; /* 100px */
  background-color: #59009A;
  border-radius: 50%;
  z-index: -1;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover::before {
  transform: scale(1.5);
}

.grid-item:hover {
  transform: scale(1.1);
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

.grid-item.archivos {
  background-image: url('../Imagenes/WhatsApp.png');
}

.grid-item.informes {
  background-image: url('Informes.png');
}

.grid-item.resenas {
  background-image: url('Reseñas.png');
}

.grid-item.historial {
  background-image: url('Historial.png');
}

.grid-item.proximamente1 {
  background-image: url('Proximamente.png');
}

.grid-item.proximamente2 {
  background-image: url('Proximamente.png');
}

/* Estilos básicos para la animación de fondo */
.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.ball {
  position: absolute;
  width: 3.125rem; /* 50px */
  height: 3.125rem; /* 50px */
  border-radius: 50%;
  background: #6200ea;
  box-shadow: 0 0 1.25rem
}
  .ball1 {
    animation: moveWorm1 20s linear infinite;
  }
  
  .ball2 {
    animation: moveWorm2 15s linear infinite;
  }
  
  @keyframes moveWorm1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(30vw, 20vh);
    }
    50% {
        transform: translate(60vw, 40vh);
    }
    75% {
        transform: translate(30vw, 60vh);
    }
    100% {
        transform: translate(0, 80vh);
    }
  } 
  
  @keyframes moveWorm2 {
    0% {
        transform: translate(100vw, 0);
    }
    25% {
        transform: translate(70vw, 20vh);
    }
    50% {
        transform: translate(40vw, 40vh);
    }
    75% {
        transform: translate(70vw, 60vh);
    }
    100% {
        transform: translate(100vw, 80vh);
    }
  }

  /* Media Queries for Responsive Design */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .logo span {
    font-size: 1.5rem;
  }

  .submenu ul li {
    padding: 10px 20px;
  }
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 767px) {
  /* El logo y los elementos de navegación */
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .logo {
    flex-basis: 100%;
    justify-content: center;
  }

  .logo span {
    font-size: 1.5rem; /* Ajuste de tamaño */
  }

  /* Ocultar el texto en la imagen de usuario en pantallas más pequeñas */
  .user-info {
    margin-top: 10px;
    flex-direction: column;
  }

  .servicios {
    margin: 10px 0;
  }

  .submenu {
    left: 0;
    right: 0;
    transform: none;
  }

  /* Footer */
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-links,
  .contactanos,
  .canales-atencion,
  .social-media {
    margin-bottom: 10px;
  }

  .imagenes-container {
    justify-content: center;
  }
}

/* Media queries para dispositivos móviles aún más pequeños */
@media (max-width: 480px) {
  .navbar {
    padding: 5px;
  }

  .logo span {
    font-size: 1.2rem;
  }

  .user-info {
    font-size: 14px;
  }

  .servicios {
    font-size: 14px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .grid-item {
    width: 100%;
    height: auto;
    padding: 20px;
  }
}