body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  flex-direction: column;
  
    min-height: 100vh;
  }
  
  
  * {
    box-sizing: border-box  ;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    
  }
  
  .navbar {
    background-color: #fff;
    padding: 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #59009A;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 65px;
    height: 60px;
    margin: 0px 25px 0px 10px;
  }
  
  .logo span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #59009A;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
  }
  
  .navbar span {
    color: #59009A;
    margin-right: 20px;
  }
  
  .servicios {
    position: relative;
    margin-left: auto;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
  }
  
  .submenu {
    position: absolute;
    background-color: #fff;
    padding: 10px 0; /* Ajuste de padding */
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: none;
    top: 100%; /* Se coloca el submenú justo debajo de "Servicios" */
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    z-index: 1000;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
  }
  
  .servicios:hover .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  
  .submenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .submenu li {
    padding: 15px 30px; /* Ajuste del padding para mayor área de clic */
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .submenu li:hover {
    background-color: #f0f0f0;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin: 0px;
    font-size: 17px;
  }
  
  .imagen-usuario {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .body {
    padding: 80px 20px 20px 20px; /* Agregar espacio para el navbar fijo */
    flex: 1;
  }
  
  .schedule-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .schedule {
    border-bottom: 1px solid #59009A ;
    padding: 1em ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #59009A;
    border-radius: 10px;
    
  }
  
  .schedule-info {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
  }
  
  .schedule-info .details {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

  }
  
  .schedule-info .details span {
    margin-bottom: 25px;
  }
  
  .schedule-info .cancel {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: red;
    gap: 5px;
  }
  
  .schedule-info .cancel svg {
    margin-right: 5px;
  }
  footer {
    background-color: #59009A;
    color: #ffffff;
    padding: 1em 0;
    
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.footer-container {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.contact-item {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    text-align: center;
}

.contact-item span {
    margin-bottom: 5px;
}

.iconos {
    display: flex;
    justify-content: center;
}

.iconos a {
    margin: 0 10px;
}

.iconos img {
    width: 24px;
    height: 24px;
}

.quienes-somos {
    align-self: center;
    color: #ffffff;
    text-decoration: none;
    margin-left: auto;
}
 