/* Reset y ajustes generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #fff;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid #59009A;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.logo img {
  width: 65px;
  height: 60px;
  margin-right: 15px;
}

.logo span {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #59009A;
  font-style: italic;
  font-size: 30px;
  font-weight: bold;
}

.navbar span {
  color: #59009A;
  margin-right: 20px;
}

.servicios {
  position: relative;
  margin-left: auto;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  padding: 0 20px;
}

.submenu {
  position: absolute;
  background-color: #fff;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: none;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.servicios:hover .submenu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu li {
  padding: 15px 30px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submenu li:hover {
  background-color: #f0f0f0;
}

.user-info {
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-left: 30px;
}

.imagen-usuario {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  margin-top: 100px;
  flex: 1;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  flex-wrap: wrap; /* Permitir que los elementos se acomoden en varias líneas */
}

.option {
  flex: 1;
  text-align: center;
  margin: 0 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.option img {
  width: 180px;
  height: 250px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.option span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #59009A;
}

.option:hover img {
  transform: scale(1.1);
}

footer {
  background-color: #59009A;
  color: #ffffff;
  padding: 10px;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer-container {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.contact-item {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  text-align: center;
}

.contact-item span {
  margin-bottom: 5px;
}

.iconos {
  display: flex;
  justify-content: center;
}

.iconos a {
  margin: 0 10px;
}

.iconos img {
  width: 24px;
  height: 24px;
}

.quienes-somos {
  align-self: center;
  color: #ffffff;
  text-decoration: none;
  margin-left: auto;
}

/* Responsividad */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      padding: 10px;
  }

  .submenu {
      left: 0;
      transform: none;
      width: 100%;
  }

  .submenu li {
      padding: 10px;
      text-align: center;
  }

  .options {
      flex-direction: row;
      width: 40%;
      flex-wrap: wrap;
      justify-content: center;
  }

  .option {
      flex-basis: 100%;
      margin-bottom: 20px;
  }

  .option img {
      width: 100px;
      height: 100px;
  }

  .option span {
      display: none; /* Oculta el texto en pantallas pequeñas */
  }

  footer {
      position: relative;
      bottom: 0;
  }
}
