/* Barra de navegacion y footer */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.navbar {
  background-color: #fff;
  padding: 0.0625rem; /* 1em */
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid #ddd; /* 1px */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 4.0625rem; /* 65px */
  height: 3.75rem; /* 60px */
  margin: 0 1.5625rem 0 0.625rem; /* 0px 25px 0px 10px */
}

.logo span {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #59009A;
  font-style: italic;
  font-size: 2rem; /* 32px */
  font-weight: bold;
}

.navbar span {
  color: #59009A;
  margin-right: 1.25rem; /* 20px */
}

.servicios {
  position: relative;
  margin-left: auto;
  font-size: 1.0625rem; /* 17px */
  text-align: center;
  cursor: pointer;
}

.submenu {
  position: absolute;
  background-color: #fff;
  padding: 0.625rem 0; /* 10px 0 */
  border-radius: 0.3125rem; /* 5px */
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2); /* 0 5px 15px */
  display: none;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.servicios:hover .submenu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu li {
  padding: 0.9375rem 1.875rem; /* 15px 30px */
  border-bottom: 0.0625rem solid #ddd; /* 1px */
  font-size: 1rem; /* 16px */
  transition: background-color 0.3s ease;
}

.submenu li:hover {
  background-color: #f0f0f0;
}

.user-info {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1.0625rem; /* 17px */
}

.imagen-usuario {
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
  border-radius: 50%;
}

.body {
  padding: 5rem 1.25rem 1.25rem 1.25rem; /* 80px 20px 20px 20px */
  flex: 1;
}

.footer {
  background-color: #59009A;
  color: #fff;
  padding: 0.625rem 1.25rem; /* 10px 20px */
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: auto;
}

.footer-links {
  display: flex;
  align-items: center;
}

.contactanos,
.canales-atencion,
.social-media {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 0; /* Espacio entre las secciones */
  margin-left: 0; /* Ajuste para acercar a la izquierda */
}

.contactanos span,
.canales-atencion span,
.social-media span {
  margin-right: 0.625rem; /* 10px */
  margin-bottom: 0.625rem; /* 10px */
}

.imagenes-container {
  display: flex;
  align-items: center;
}

.imagen-footer {
  margin-right: 0.625rem; /* 10px */
  width: 1.75rem; /* 28px */
}

.texto-footer {
  text-align: right;
  align-items: center;
  transform: translate(0%, 1.875rem); /* 30% */
}

/* estilos del body */
main {
  flex: 1;
  padding: 1.25rem; /* 20px */
  background-color: #ffffff;
  margin-top: 6.25rem; /* 100px */
}

.files-section h2 {
  margin-top: 0;
  margin-left: 0.9375rem; /* 15px */
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0.625rem; /* 10px */
  box-sizing: border-box;
}

.search-bar {
  flex: 1;
  padding: 0.625rem; /* 10px */
  font-size: 1rem; /* 16px */
  border: 0.125rem solid #59009A; /* 2px */
  border-radius: 0.3125rem 0 0 0.3125rem; /* 5px */
  outline: none;
}

.search-button {
  padding: 0.625rem 1.25rem; /* 10px 20px */
  font-size: 1rem; /* 16px */
  background-color: #59009A;
  color: #fff;
  border: 0.125rem solid #59009A; /* 2px */
  border-left: none; /* Eliminar el borde izquierdo del botón */
  border-radius: 0 0.3125rem 0.3125rem 0; /* Bordes redondeados, solo para la derecha */
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #7a3ec8;
}

.file-item {
  display: flex;
  align-items: center;
  padding: 0.625rem 0; /* 10px 0 */
  border-top: 0.0625rem solid #ddd; /* 1px */
}

.file-item:first-of-type {
  border-top: none;
}

.imagen {
  width: 4.375rem; /* 70px */
  height: 5.625rem; /* 90px */
}

.file-icon img {
  margin-right: 0.625rem; /* 10px */
}

.settings-icon {
  justify-content: flex-end;
  max-width: 100%;
  height: auto;
  margin-left: auto;
}

.settings-icon img {
  justify-content: flex-end;
  width: 2.5rem; /* 40px */
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: 2.5rem; /* 40px */
}

.cargar {
  display: block;
  padding: 0.625rem 1.875rem; /* 10px 30px */
  background-color: #59009A;
  color: #fff;
  border: none;
  border-radius: 1.875rem; /* 30px */
  cursor: pointer;
  margin-left: auto;
  margin-right: 1.25rem; /* 20px */
  justify-content: center;
}

.cargar a {
  color: #fff;
  text-decoration: none;
}

/* Modal general */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Fijo en la pantalla */
  z-index: 1000; /* Se muestra por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  overflow: auto; /* Habilita el scroll si es necesario */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

/* Contenido del modal */
.modal-content {
  background-color: #fefefe;
  margin: 2.5rem auto; /* Ajustado para centrar verticalmente */
  padding: 1.25rem; /* 20px */
  border: 1px solid #888;
  width: 90%; /* Ancho del modal */
  max-width: 900px; /* Ancho máximo del modal */
  max-height: 80vh; /* Altura máxima del modal */
  overflow: hidden; /* Ocultar contenido que desborde */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra alrededor del modal */
  border-radius: 0.625rem; /* Bordes redondeados */
}
/* Contenido del iframe */
.modal-content iframe {
  border: none; /* Sin borde para el iframe */
  width: 100%;
  height: 70vh; /* Altura del visor de PDF */
}

/* Para pantallas medianas (tabletas) */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo span {
    font-size: 1.2rem;
  }

  .servicios {
    font-size: 0.9rem;
  }

  .search-container {
    flex-direction: column;
    width: 100%;
  }

  .search-bar, .search-button {
    width: 100%;
    margin: 5px 0;
  }

  .file-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .settings-icon img {
    margin-top: 10px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer div {
    margin-bottom: 15px;
  }
}

/* Para pantallas pequeñas (móviles) */
@media screen and (max-width: 480px) {
  .navbar {
    padding: 0.5rem;
  }

  .logo img {
    width: 50px;
    height: 45px;
  }

  .logo span {
    font-size: 1rem;
  }

  .user-info span {
    font-size: 0.9rem;
  }

  .user-info img {
    width: 35px;
    height: 35px;
  }

  main {
    padding: 60px 10px 10px 10px;
  }

  .file-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .settings-icon img {
    margin-top: 10px;
  }

  .footer {
    padding: 10px;
    text-align: center;
  }

  .footer div {
    margin-bottom: 10px;
  }
}