/* Barra de navegación y otros estilos */
html, body {
  margin: 0; /* Elimina márgenes por defecto */
  padding: 0; /* Elimina relleno por defecto */
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal; /* Esto asegura que no esté en cursiva */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegúrate de que el cuerpo tenga al menos el 100% de la altura de la ventana */
}

.navbar {
  background-color: #fff;
  
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid #ddd;
  width: 98%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}


.dropdown-menu {
  display: none;
  background-color: #fff;
  position: fixed;
  top: 5rem;
  right: 1.25rem;
  width: 12.5rem;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3125rem;
  z-index: 1000;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu ul li {
  padding: 0.9375rem 1.25rem;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu ul li:last-child {
  border-bottom: none;
}

.dropdown-menu ul li a {
  text-decoration: none;
  color: #59009A;
}

.dropdown-menu ul li:hover {
  background-color: #f0f0f0;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: #59009A;
}

.nav-items {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 4.0625rem;
  height: 3.75rem;
  margin: 0rem 1.5625rem 0rem 0.625rem;
}

.logo span {
  font-family: 'Roboto', sans-serif;
  color: #59009A;
  font-style: normal;
  font-size: 1.7rem;
  font-weight: bold;
}

.navbar span {
  color: #59009A;
  margin-right: 1.25rem;
}

.servicios {
  position: relative;
  margin-left: auto;
  font-size: 1.0625rem;
  text-align: center;
  cursor: pointer;
}

.submenu {
  position: absolute;
  background-color: #fff;
  padding: 0.625rem 0;
  border-radius: 0.3125rem;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
  display: none;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.servicios:hover .submenu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu li {
  padding: 0.9375rem 1.875rem;
  border-bottom: 0.0625rem solid #ddd;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.submenu li:hover {
  background-color: #f0f0f0;
}

.user-info {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1.0625rem;
}

.imagen-usuario {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.body {
  padding: 5rem 1.25rem 1.25rem 1.25rem;
  flex: 1;
}

/* Agregar estilos para el footer */
.footer-container {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0; /* Asegúrate de que no haya margen que cause espacios en blanco */
}

.contact-item {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  text-align: center;
  max-width: 500px;
}

.contact-item span {
  margin-bottom: 5px;
}

.iconos {
  display: flex;
  justify-content: center;
}

.iconos a {
  margin: 0 10px;
}

.iconos img {
  width: 24px;
  height: 24px;
}

.quienes-somos {
  align-self: center;
  color: #ffffff;
  text-decoration: none;
  margin-left: auto;
}

footer {
  background-color: #59009A;
  color: #ffffff;
  padding: 1em;
  text-align: center;
  margin-top: auto; /* Esto asegura que el footer esté al final */
  position: relative; /* Para que no haya problemas con el posicionamiento */
}
 

/* Contenido Body */

.inicio{

  background: linear-gradient(to top, rgba(89, 0, 154), rgba(138, 102, 253));
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}

.inicio .contenido-banner{

     padding: 40px;
     background-color: #1e2326;
     max-width: 350px;
     margin: auto;
     text-align: center;
     border-radius: 40px;
}

.inicio .contenido-banner img{

margin-top: 20px;
border: 10px solid #59009A;
display: block;
width: 70%;
margin: auto;
border-radius: 100%;
}

.inicio .contenido-banner h1{

margin-top: 40px;
font-size: 35px;
font-family: Arial, sans-serif;
}

.inicio .contenido-banner h2{

font-size: 15px;
font-weight: normal;
}

.inicio .contenido-banner .redes a{

color: #fff;
display: inline-block;
text-decoration: none;
border: 1px solid #fff;
border-radius: 100%;
width: 42px;
height: 42px;
line-height: 42px;
margin: 40px 5px;
font-size: 20px;
transition: .3s;
}

.inicio .contenido-banner .redes a:hover{

background-color: #59009A;
}

.sobremi{

background-color: #59009A;
color: #fff;
padding: 95px 20px;
}

.sobremi .contenido-seccion{

max-width: 1100px;
margin: auto;
}

.sobremi h2{

font-size: 42px;
font-family: roboto;
text-align: center;
padding: 20px 0px;
}

.sobremi .contenido-seccion p{

font: 18px;
line-height: 22px;
margin-bottom: 20px;
}

.sobremi .contenido-seccion p span{

color: #8E91F3 ;
font-weight: bold;
}

.sobremi .fila{

display: flex;
}

.sobremi .fila .col{

width: 50%;
}

.sobremi .fila .col h3{

font-size: 28px;
font-family: roboto;
margin-bottom: 25px;
}

.sobremi .fila .col ul{

list-style: none;
}

.sobremi .fila .col ul li{

margin: 12px 0;
}

.sobremi .fila .col ul li strong{

display: inline-block;
color: #8E91F3;
width: 130px;
}

.sobremi .fila .col ul li span{

background-color: #8E91F3;
padding: 3px;
font-weight: bold;
border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses{

display: flex;
flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .intereses{

width: 100px;
height: 100px;
background-color: #1e2326;
border-radius: 10px;
margin: 0 15px 15px 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .intereses:hover{

background-color: #8E91F3;
}

.sobremi .fila .col .contenedor-intereses .intereses i{

font-size: 30px;
margin-bottom: 10px;
}

.sobremi button{

cursor: pointer;
background-color: transparent;
border: 2px solid #fff;
width: fit-content;
display: block;
margin: 20px auto;
padding: 10px 22px;
font-size: 16px;
color: #fff;
position: relative;
z-index: 10;
}

.sobremi button .overlay{

position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background-color: #8E91F3;
z-index: -1;
transition: 1s;
}

.sobremi button:hover .overlay{
width: 100%;
}

.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.4);
padding-top: 60px;
}

.modal-content {
background-color: #fefefe;
margin: 5% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

h2 {
text-align: center;
}

.form-group {
display: flex;
justify-content: space-between;
margin-bottom: 15px;
}

.form-item {
flex: 1;
margin-right: 20px;
}

.form-item:last-child {
margin-right: 0;
}

label {
display: block;
margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="file"] {
width: 100%;
padding: 8px;
box-sizing: border-box;
}

.btn-centrado {
display: block;
margin: 0 auto;
margin-top: 20px;
cursor: pointer;
background-color: transparent;
border: 2px solid #59009A;
width: fit-content;
display: block;
margin: 20px auto;
padding: 10px 22px;
font-size: 16px;
color: #59009A;
position: relative;
z-index: 10;
}

.skills{

background-color: #552A9A    ;
color: #fff;
padding: 50px 20px;
}

.skills .contenido-seccion{

max-width: 1100px;
margin: auto;
}

.skills h2{

font-size: 42px;
font-family: roboto;
text-align: center;
padding: 20px 0px;
}

.skills .fila{

display: flex;
}

.skills .fila .col{

width: 50%;
padding: 0 20px;
}

.skills .fila .col h3{

font-size: 28px;
font-family: roboto;
margin-bottom: 25px;
}

.skills .skill > span{

font-weight: bold;
display: block;
margin-bottom: 10px;
}

.skills .skill .barra-skill{

height: 8px;
width: 80%;
background-color: #1e2326;
position: relative;
margin-bottom: 30px;
}

.skills .skill .progreso{

background-color: #8E91F3;
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
}

.skills .skill .barra-skill span{

position: absolute;
height: 40px;
width: 40px;
background-color: #8E91F3;
border-radius: 50px;
line-height: 40px;
text-align: center;
top: -17px;
right: -15px;
font-size: 14px;
}

.skills .skill .resolver{

width: 0%;
animation: 2s resolver forwards;
}
@keyframes resolver{
0%{width: 0%;}
100%{width: 75%;}
}

.skills .skill .trabajo{

width: 0%;
animation: 2s trabajo forwards;
}
@keyframes trabajo{
0%{width: 0%;}
100%{width: 89%;}
}

.skills .skill .observacion{

width: 0%;
animation: 2s observacion forwards;
}
@keyframes observacion{
0%{width: 0%;}
100%{width: 95%;}
}

.skills .skill .manejo{

width: 0%;
animation: 2s manejo forwards;
}
@keyframes manejo{
0%{width: 0%;}
100%{width: 81%;}
}

.skills .skill .capacidad{

width: 0%;
animation: 2s capacidad forwards;
}
@keyframes capacidad{
0%{width: 0%;}
100%{width: 85%;}
}

.skills .skill .comunicacion{

width: 0%;
animation: 2s comunicacion forwards;
}
@keyframes comunicacion{
0%{width: 0%;}
100%{width: 80%;}
}

.skills .skill .equipo{

width: 0%;
animation: 2s equipo forwards;
}
@keyframes equipo{
0%{width: 0%;}
100%{width: 70%;}
}

.skills .skill .creatividad{

width: 0%;
animation: 2s creatividad forwards;
}
@keyframes creatividad{
0%{width: 0%;}
100%{width: 95%;}
}

.skills .skill .dedicacion{

width: 0%;
animation: 2s dedicacion forwards;
}
@keyframes dedicacion{
0%{width: 0%;}
100%{width: 71%;}
}

.skills .skill .proyecto{

width: 0%;
animation: 2s proyecto forwards;
}
@keyframes proyecto{
0%{width: 0%;}
100%{width: 80%;}
}

/* seccion curriculum */

.curriculum{

background-color: #59009A;
color: #fff;
padding: 50px 20px;
}

.curriculum .contenido-seccion{

max-width: 1100px;
margin: auto;
}

.curriculum h2{

font-size: 42px;
font-family: roboto;
text-align: center;
padding: 20px 0px;
}

.curriculum .fila{
display: flex;
justify-content: space-between;
}
.curriculum .fila .col{
width: 49%;
padding: 0 20px;
}
.curriculum .fila .col h3{
font-size: 28px;
font-family: roboto;
margin-bottom: 25px;
}
.curriculum .fila .izquierda{
border-right: 2px solid #8E91F3;
}
.curriculum .fila .derecha{
border-left: 2px solid #8E91F3;
}
.curriculum .fila .item{
padding: 25px;
margin-bottom: 30px;
background-color: #1e2326;
position: relative;
}
.curriculum .fila .item h4{
font-size: 20px;
margin-bottom: 10px;
}
.curriculum .fila .item .casa{
color: #8E91F3;
font-size: 22px;
font-weight: bold;
display: block;
}
.curriculum .fila .item .fecha{
display: block;
color: #8E91F3;
margin-bottom: 10px;
}
.curriculum .fila .item p{
line-height: 24px;
}
.curriculum .fila .izq{
border-right: 5px solid #8E91F3;
margin-right: 20px;
}
.curriculum .fila .der{
border-left: 5px solid #8E91F3;
margin-left: 20px;
}
.curriculum .fila .item .conectori{
height: 2px;
background-color: #8E91F3;
width: 47px;
position: absolute;
top: 50%;
right: -47px;
z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
display: block;
height: 10px;
width: 10px;
border-radius: 50%;
background-color: #8E91F3;
float: right;
position: relative;
bottom: 4px;
}
.curriculum .fila .item .conectord{
height: 2px;
background-color: #8E91F3;
width: 47px;
position: absolute;
top: 50%;
left: -47px;
z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
display: block;
height: 10px;
width: 10px;
border-radius: 50%;
background-color: #8E91F3;
float: left;
position: relative;
bottom: 4px;
}
/*  seccion portfolio */

.portfolio{

background-color: #552A9A;
color: #fff;
padding: 50px 20px;
}

.portfolio .contenido-seccion{

max-width: 1100px;
margin: auto;
}

.portfolio h2{

font-size: 42px;
font-family: roboto;
text-align: center;
padding: 20px 0px;
}
.portfolio .galeria{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.portfolio .galeria .proyecto{
position: relative;
max-width: 340px;
height: fit-content;
margin: 10px;
cursor: pointer;
}
.portfolio .galeria .proyecto img{
width: 100%;
display: block;
}
.portfolio .galeria .proyecto .overlay{
position: absolute;
top: 0;
width: 100%;
height: 100%;
text-align: center;
background: linear-gradient(rgba(138, 102, 253,.8),rgba(138, 102, 253,.8));
display: flex;
flex-direction: column;
justify-content: center;
transition: 1s;
font-size: 18px;
letter-spacing: 3px;
opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
margin-bottom: 20px;
transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
margin-bottom: 0px;
}
/* seccion contacto */
.contacto{
background-image: url(../Imagenes/ubicacion.png);
background-color: #59009A;
color: #fff;
padding: 50px 0;
}
.contacto .contenido-seccion{
max-width: 1100px;
margin: auto;
}
.contacto h2{
font-size: 42px;
font-family: roboto;
text-align: center;
padding: 20px 0px;
}
.contacto .fila{
display: flex;
}
.contacto .col{
width: 50%;
padding: 10px;
position: relative;
}
.contacto .col input, .contacto .col textarea{
display: block;
width: 100%;
padding: 18px;
border: none;
margin-bottom: 20px;
background-color: #1e2326;
color: #fff;
font-size: 18px;  
}
.contacto button{
cursor: pointer;
cursor: pointer;
background-color: transparent;
border: 2px solid #fff;
width: fit-content;
display: block;
margin: 20px auto;
padding: 10px 22px;
font-size: 16px;
color: #fff;
position: relative;
z-index: 10;
}
.contacto button .overlay{
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background-color: #8E91F3;
z-index: -1;
transition: 1s;
}
.contacto button:hover .overlay{
width: 100%;
}
.contacto .col img{
width: 100%;
}
.contacto .col .info{
position: absolute;
top: 40%;
background-color: #1e2326;
padding: 20px;
width: 350px;
left: 50%;
transform: translate(-50%, -50%);
}
.contacto .col .info ul{
list-style: none;
}
.contacto .col .info ul li{
margin-bottom: 20px;
}
.contacto .col .info ul li i{
color: #8E91F3;
display: inline-block;
margin-right: 20px;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .logo span {
    font-size: 1.5rem;
  }

  .submenu ul li {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 768px) {
  .servicios, .user-info {
    display: none;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    margin-left: auto; /* Ajusta este valor para moverlo más a la izquierda */
    margin-right: 10px; /* Ajusta este valor negativo para moverlo a la izquierda */
    font-size: 2rem;
    color: #59009A;
  }

  .menu-open .dropdown-menu {
    display: block;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-links,
  .contactanos,
  .canales-atencion,
  .social-media {
    margin-bottom: 10px;
  }

  .imagenes-container {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 5px;
  }

  .logo span {
    font-size: 1.2rem;
  }

  .user-info {
    font-size: 14px;
  }

  .servicios {
    font-size: 14px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .grid-item {
    width: 100%;
    height: auto;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  /* Ocultar texto en el footer */
  .footer-container span {
    display: none; /* Oculta el texto */
  }
  
  /* Asegurarte de que los iconos se muestren */
  .iconos {
    display: flex;
    justify-content: center; /* Centra los iconos */
  }

  .iconos a {
    margin: 0 10px; /* Ajusta el margen entre iconos */
  }
}

/* responsive */
@media screen and (max-width:980px){
nav{
  display: none;
}
.nav-responsive{
   display: block;
}
nav.responsive{
  display: block;
}
}

@media screen and (max-width:700px){
.sobremi .fila{
  display: block;
}
.sobremi .fila .col{
  width: fit-content;
}
.skills .fila{
  display: block;
}
.skills .fila .col{
  width: 100%;
}
.skills .fila .col .barra-skill{
  width: 100%;
}
.curriculum .fila{
  display: block;
}
.curriculum .fila .col{
  width: 90%;
}
.curriculum .fila .derecha{
  margin-left: 20px;
}
.portfolio .galeria{
  display: block;
  width: 100%;
}
.portfolio .galeria .proyecto{
  max-width: 100%;
}
.portfolio .galeria .proyecto img{
  width: 100%;
}
.contacto .fila{
  display: block;
}
.contacto .fila .col{
  width: 100%;
}
}